

/* CSS - myaccount.module.css */

.myaccountPage{
    background-color: #f4f7fc;
    min-height: 100vh;
}
.myProfileContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 20vh;
    padding: 20px;
}

.profileCard {
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 1334px;
    padding: 30px;
    box-sizing: border-box;
}

.profileTitle {
    font-size: 32px;
    font-weight: 700;
    background: linear-gradient(90deg,#29642b, #1f6a30, #4CAF50, #6fd96f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 15px;
    text-align: center;
}

.profileContent {
    color: #7f8c8d;
    text-align: center;
    font-size: 16px;
    margin-bottom: 25px;
}

.profileDetails p {
    font-size: 18px;
    color: black;
    margin: 10px 0;
}

.profileEmail {
    font-weight: 600;
    color: #43a047; /* Vibrant green with depth */
    text-shadow: 0 0 5px rgba(76, 175, 80, 0.7);
}

.changeProfile {
    margin-top: 30px;
}

.changeTitle {
    font-size: 24px;
    color: black;
    margin-bottom: 20px;
}

.inputGroup {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.inputGroup label {
    margin-bottom: 8px;
    font-weight: 500;
    color: #34495e;
}

.inputGroup input {
    padding: 12px;
    border: 1px solid #bdc3c7;
    border-radius: 6px;
    font-size: 16px;
}

.saveButton {
    background-color:#4CAF50;
    color: #fff;
    border: none;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.saveButton:hover {
    background-color: #317e33;
}
.saveButton:disabled {
    cursor: not-allowed;
    opacity: 0.6;
  }
.dangerCard{
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    width: 100%;
    /* padding: 30px; */
    margin-top: 50px;
    box-sizing: border-box;   
}
.dangerTitle{
    background-color: #e65050;
    border-radius: 12px 12px 0px 0px;
    padding: 10px 15px;
    color:white;
}
.dangerbuttondiv{
    padding: 20px 30px;
}
.dangerButton{
    padding: 10px 10px;
    background-color: #e65050;
    color: white;
    border-radius: 10px;
    font-size: 14px;
}
.popupOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .popup {
    background: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    width: 350px;
  }
  
  .popupButtons {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
  }
  
  .confirmButton,
  .cancelButton {
    padding: 10px;
    border: none;
    cursor: pointer;
  }
  
  .confirmButton {
    background-color: #e65050;
    color: white;
    border-radius: 10px;
  }
  
  .cancelButton {
    background-color: gray;
    color: white;
    border-radius: 10px;
  }
    /* messages.module.css */
.successMessage {
    font-size: 0.875rem;  /* text-sm */
    color: #22c55e;       /* text-green-500 */
    font-weight: 600;     /* font-semibold */
    padding-left: 0.5rem; /* px-2 */
    padding-right: 0.5rem;
    /* padding-top: 10px; */
  }
  
  .errorMessage {
    font-size: 0.875rem;  /* text-sm */
    color: #ef4444;       /* text-red-500 */
    font-weight: 600;     /* font-semibold */
    padding-left: 0.5rem; /* px-2 */
    padding-right: 0.5rem;
    padding-top: 10px;
  }
